---
layout: index
title: In the Cave
tagline: Musing over the shadows on the wall
---
{% include JB/setup %}


<!-- Change the "about information" contained in /_includes/themes/bootstrap/index.html  -->

  {% for post in site.posts limit: 5 %}

                <!-- Blog Post Template on Index page -->
                <div class="well">
                <p>
                    {% for category in post.categories %}
                    <a href="{{ BASE_PATH }}{{ category.url }}">{{ post.categories }}</a> | &nbsp;
                    {% endfor %}
                    | {{ post.date | date_to_long_string }}
                </p>
                <h4>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                </h4>
                {% if post.tagline %}<h5>{{ post.tagline }}</h5>{% endif %}
                <!-- <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
		{{ post.excerpt }}                
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>

  {% endfor %}


